{% extends '_layouts/main_layout.html' %}

{% block title %}{{ object.title }} {% endblock %}


{% block content %}
    <div class="card shadow mx-auto" style="width: 30rem;">
      <div class="card-header text-white bg-info">
        <h1 style="bold">OUTAGE: Detail</h1>
      </div>
        <div class="card-body">
            <h5 class="card-title">{{ detail.isp_provider }} - </h5>
            <p class="card-text">{{ detail.issue_type }}</p>
            <p class="card-text">{{ detail.service_area }}</p>
            <p class="card-text">{{ detail.status }}</p>
            <p class="card-text">{{ detail.start_time }}</p>
            <p class="card-text">{{ detail.ccp_account_reference }}</p>
            <p class="card-text">{{ detail.ticket_number }}</p>
            <p class="card-text">{{ detail.impact_level }}</p>

            <p class="card-text">{{ detail.etr }}</p>
            <p class="card-text">{{ detail.notes }}</p>
        </div>
    </div>
{% endblock %}
