<!-- myLog in Nav-->
<div class="navbar mx-auto order-1">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item active">
          <a class="btn btn-primary ml-2" href="/outages/" role="button">All</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success ml-2" href="/outages/active/" role="button">Active</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning ml-2" href="/outages/pending/" role="button">Pending</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-secondary ml-2" href="/outages/resolved/" role="button">Resolved</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger ml-2" href="/outages/closed/" role="button">Closed-Restricted Area</a>
        </li>
      </ul>
</div>
<!--Log OUT Nav-->
  <div class="max-auto Order-0">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="btn btn-light ml-2" href="/admin/logout" role="button">Logout</a>
        </li>
      </ul>
  </div>

