<!-- NOT Logged in Nav-->
<div class="justify-content-center alert alert-warning mx-auto" role="alert">
  <strong>Login Required!</strong> You are not logged in.  ----> Login on the Right.
</div>

<!-- mylogin & sign UP -->
  <div class="max-auto Order-3 ml-5">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="btn btn-light ml-2" href="/admin/" role="button">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary ml-2" href="#" role="button">Sign UP</a>
        </li>
      </ul>
  </div>