{% extends '_layouts/main_layout.html' %}

{% block title %}{% endblock %}


{% block content %}
    <div class="card shadow mx-auto" style="width: 30rem;">
      <div class="card-header text-white bg-secondary">
        <h1 style="bold">OUTAGES: Resolved</h1>
      </div>
      <ul class="list-group list-group-flush">
        {% for outage in outages_resolved %}
            <li class="list-group-item">{{ outage.isp_provider }} - {{ outage.service_area }} - {{ outage.issue_type }} - {{ outage.status }}</li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}
